@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,600;1,600&display=swap');
:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    --cor-hover: #272727;

    --fonte-primaria: 'Krona one', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}
* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 3% 0% 0% 15%;

}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 20px;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 32px;
    font-family:var(--fonte-primaria);
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto {
    font-size: 16px;
    justify-content: space-between;
    align-items: center;
    margin-right: 5%;
    font-family: var(--fonte-secundaria);
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 18px;

}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
}

.apresentacao__links__link {
    display: flex;
    justify-content: center;
    gap: 8px;
    border: 2px solid var(--cor-terciaria);
    width: 200px;   
    text-align: center;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 600;
    padding: 10.5px 10px;
    text-decoration: none;
    color: var(--cor-secundaria );
    font-family: var(--fonte-secundaria);
}

.apresentacao__links__link:hover {
    border: 2px solid var(--cor-terciaria);
    cursor: pointer;
    background-color: var(--cor-hover);
    padding: 3%;
}

.apresentacao__imagem {
    width: 400px;
    padding: 100px 70px;
}

.rodape {
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 15px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 15px;
    font-weight: 400;
}

/*
.apresentacao__conteudo__texto a{
    text-decoration: none;
    color: #22D4FD;
}