@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,600;1,600&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #000000;
    color: #F6F6F6;
}

.titulo-destaque {
    color: #FDAD22;
}

.apresentacao {
    margin: 10% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 32px;
    font-family:"Krona One", sans-serif;
}

.apresentacao__conteudo__texto {
    font-size: 16px;
    justify-content: space-between;
    align-items: center;
    margin-right: 5%;
    font-family: "Montserrat", sans-serif;
}

.apresentacao__links {
    display: flex;
    justify-content: space-between;
}

.apresentacao__links__link {
    background-color: #FDAD22;
    width: 180px;
    text-align: center;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    padding: 10.5px 5px;
    text-decoration: none;
    color: #000000;
    font-family: "Montserrat", sans-serif;
}

.apresentacao__imagem {
    width: 400px;
    padding: 10px 0px;
}